# Server Configuration
PORT=3000
JWT_SECRET=request-mgt-system-super-jwt-token-secret-fallback-2026
APP_URL=http://localhost:3000

# Mailtrap SMTP Configuration
# For Mailtrap Sandbox: host=sandbox.smtp.mailtrap.io, port=2525 (or 587)
# Provide your Mailtrap SMTP username and password from your Mailtrap Inbox Settings
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=449145fc38903d
SMTP_PASS=3757bb1b74e11c

